:root {
    --white: hsl(0, 0%, 100%);

    --stone100: hsl(30, 54%, 90%);
    --stone150: hsl(30, 18%, 87%);
    --stone600: hsl(30, 10%, 34%);
    --stone900: hsl(24, 5%, 18%);

    --brown: hsl(14, 45%, 36%);

    --rose800: hsl(322, 51%, 32%);
    --rose50: hsl(330, 100%, 98%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Outfit", sans-serif;
    background-color: var(--stone100);
    padding: 150px 20px;

    display: grid;
    justify-items: center;
}

img + h1 {
    font-size: 45px;
}

.title {
    font-family: "Young Serif", serif;
    font-weight: 400;
}

.brown {
    color: var(--brown);
}

p,
li {
    color: var(--stone600);
}

ul,
ol {
    list-style-position: inside;

    & > li:not(:last-child) {
        margin-bottom: 10px;
    }
}

ol ::marker {
    color: var(--brown);
    font-weight: bold;
}

main {
    width: 850px;
    background: var(--white);
    padding: 40px;
    border-radius: 20px;

    & > *:not(:last-child) {
        margin-bottom: 30px;
    }

    & > img {
        width: 100%;
        border-radius: 10px;
    }

    & > .time {
        background-color: var(--rose50);
        padding: 30px;
        border-radius: 10px;

        & > h3 {
            color: var(--rose800);
            margin-bottom: 20px;
        }
    }

    & > table {
        width: 100%;
        border-collapse: collapse;

        & tr {
            height: 40px;
            border-bottom: 1px solid var(--stone150);
            font-size: 18px;
        }

        & tr:last-child {
            border-bottom: none;
        }

        & td:first-child {
            padding-left: 20px;
            color: var(--stone600);
        }
    }
}

@media screen and (max-width: 940px) {
    body {
        padding: 0;
        display: block;
        background-color: var(--white);
    }

    img + h1 {
        font-size: 35px;
    }

    h1 {
        font-size: 28px;
    }

    main {
        width: 100%;
        border-radius: 0;
        padding: 50% 20px 50px 20px;

        & > img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            border-radius: 0;
        }
    }
}
